# Analyzing U.S. Thanksgiving Dinner 
## Open, Read, and Display First Five Rows of DataFrame

In [1]:
import pandas as pd

data = pd.read_csv("thanksgiving.csv",encoding="Latin-1")
data.head()

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

## Display Columns to Obtain Sense of Data

In [ ]:
data.columns

## Extract Responses to 'Do you celebrate Thanksgiving?' and Display Corresponding Counts

In [3]:
yes_no = data["Do you celebrate Thanksgiving?"]

yes_no.value_counts()

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

## Create New DataFrame by Filtering Out Non-'Yes' Responses

In [4]:
data = data[yes_no == "Yes"]

## Display Counts Again to Confirm

In [5]:
data["Do you celebrate Thanksgiving?"].value_counts()

Yes    980
Name: Do you celebrate Thanksgiving?, dtype: int64

## Extract Responses to 'What is typically the main dish at your Thanksgiving dinner?' and Display Corresponding Counts

In [6]:
main_dish = data["What is typically the main dish at your Thanksgiving dinner?"]

main_dish.value_counts()

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

## Filter Out Non-'Tofurkey' Responses

In [7]:
Tofurkey = data[main_dish == "Tofurkey"]

## Display Counts Again to Confirm

In [8]:
Tofurkey["What is typically the main dish at your Thanksgiving dinner?"].value_counts()

Tofurkey    20
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

## Extract Responses to 'Do you typically have gravy?' for 'Tofurkey' DataFrame and Display Column and Corresponding Counts

In [9]:
Tofurkey_with_gravy = Tofurkey["Do you typically have gravy?"]

Tofurkey_with_gravy

4      Yes
33     Yes
69      No
72      No
77     Yes
145    Yes
175    Yes
218     No
243    Yes
275     No
393    Yes
399    Yes
571    Yes
594    Yes
628     No
774     No
820     No
837    Yes
860     No
953    Yes
Name: Do you typically have gravy?, dtype: object

In [10]:
Tofurkey_with_gravy.value_counts()

Yes    12
No      8
Name: Do you typically have gravy?, dtype: int64

## Generate Boolean Series for 'Apple Pie', 'Pumpkin Pie', and 'Pecan Pie' Desserts

In [11]:
apple_isnull = pd.isnull(data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"])

pumpkin_isnull = pd.isnull(data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"])

pecan_isnull = pd.isnull(data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"])

## Join All Three Series Using & Operator and Display Column and Corresponding Counts

In [12]:
ate_pies = apple_isnull & pumpkin_isnull & pecan_isnull

ate_pies

0       False
1       False
2       False
3       False
4       False
5        True
6       False
7        True
8       False
9       False
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21       True
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
32      False
        ...
1024    False
1025    False
1026    False
1027    False
1029    False
1030    False
1031    False
1033    False
1034    False
1035    False
1037     True
1038    False
1039    False
1040    False
1041    False
1042    False
1043     True
1044    False
1045    False
1046    False
1047    False
1048    False
1049    False
1050    False
1051    False
1053    False
1054    False
1055    False
1056     True
1057     True
dtype: bool

In [13]:
ate_pies.value_counts()

False    876
True     104
dtype: int64

## Create Function that Converts 'Age' String to Appropriate Integer while Replacing '+' in Any String with ' '

In [14]:
def ageStr_to_int(string):
    if pd.isnull(string): return None
    first_age = string.split(" ")[0]
    
    return int( first_age.replace("+","") )

## Apply Function to Each String of 'Age' Column of Data and Assign Result to New Column of Data Called 'int_age'

In [15]:
data["int_age"] = data["Age"].apply(ageStr_to_int)

## Display Column, Corresponding Counts, and 'Age' Column Counts to Confirm

In [16]:
data["int_age"]

0       18.0
1       18.0
2       18.0
3       30.0
4       30.0
5       18.0
6       18.0
7       18.0
8       30.0
9       30.0
11      30.0
12      18.0
13      18.0
14      60.0
15      30.0
16      30.0
17      18.0
18      30.0
19      30.0
20      30.0
21      18.0
23      18.0
24      30.0
25      18.0
26      30.0
27      18.0
28      30.0
29      30.0
30      30.0
32      18.0
        ...
1024    45.0
1025    60.0
1026    45.0
1027    60.0
1029    60.0
1030    45.0
1031    45.0
1033    30.0
1034    30.0
1035    30.0
1037    30.0
1038    60.0
1039    18.0
1040    30.0
1041    45.0
1042    45.0
1043    45.0
1044    60.0
1045    30.0
1046    18.0
1047    30.0
1048    60.0
1049     NaN
1050    60.0
1051    60.0
1053    30.0
1054    60.0
1055    60.0
1056     NaN
1057     NaN
Name: int_age, dtype: float64

In [17]:
data["int_age"].value_counts()

45.0    269
60.0    258
30.0    235
18.0    185
Name: int_age, dtype: int64

In [18]:
data["Age"].value_counts()

45 - 59    269
60+        258
30 - 44    235
18 - 29    185
Name: Age, dtype: int64

## Examine Statistics of 'int_age' Column of Data

In [19]:
data["int_age"].describe()

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

## Findings
As respondents of age 30 are older than 25% of the population, respondents of age 45 are older than 50% of the population, and respondents of age 60 are older than 75% of the population, the distribution of respondent ages are fairly uniform.  However, because we do not know the exact age of respondents and instead chose the lower bound of each age bracket, these statistics are inadequate in truly depicting the ages of respondents.

## Create Function that Converts Income String to Appropriate Integer while Replacing '$' and ',' in Any String with ' '

In [20]:
def incomeStr_to_int(string):
    if pd.isnull(string): return None
    first_income = string.split(" ")[0] 
    
    if first_income == "Prefer": return None
    first_income = first_income.replace("$", "")
    
    return int( first_income.replace(",", "") )

## Apply Function to Each Value of 'How much total combined money did all members of your HOUSEHOLD earn last year?' Column of Data and Assign Result to New Column of Data Called 'int_income'

In [21]:
data["int_income"] = data["How much total combined money did all members of your HOUSEHOLD earn last year?"].apply(incomeStr_to_int)

## Display Column, Corresponding Counts, and 'How much total combined money did all members of your HOUSEHOLD earn last year?' Column Counts to Confirm

In [22]:
data["int_income"]

0        75000.0
1        50000.0
2            0.0
3       200000.0
4       100000.0
5            0.0
6        25000.0
7            NaN
8        75000.0
9        25000.0
11       25000.0
12           0.0
13           0.0
14       50000.0
15      200000.0
16      200000.0
17       75000.0
18       25000.0
19       75000.0
20       75000.0
21           0.0
23           0.0
24       50000.0
25      200000.0
26       50000.0
27      100000.0
28           NaN
29       75000.0
30       25000.0
32           NaN
          ...
1024    100000.0
1025     75000.0
1026    175000.0
1027     75000.0
1029     50000.0
1030     10000.0
1031     75000.0
1033     75000.0
1034         NaN
1035     25000.0
1037     10000.0
1038    100000.0
1039     75000.0
1040     50000.0
1041     25000.0
1042    125000.0
1043     75000.0
1044     25000.0
1045     75000.0
1046     10000.0
1047     25000.0
1048     75000.0
1049         NaN
1050    125000.0
1051    125000.0
1053    100000.0
1054     50000.0
1055    100000.0
1056         NaN
1057         NaN
Name: int_income, dtype: float64

In [23]:
data["int_income"].value_counts()

25000.0     166
75000.0     127
50000.0     127
100000.0    109
200000.0     76
10000.0      60
0.0          52
125000.0     48
150000.0     38
175000.0     26
Name: int_income, dtype: int64

In [24]:
data["How much total combined money did all members of your HOUSEHOLD earn last year?"].value_counts()

$25,000 to $49,999      166
$75,000 to $99,999      127
$50,000 to $74,999      127
Prefer not to answer    118
$100,000 to $124,999    109
$200,000 and up          76
$10,000 to $24,999       60
$0 to $9,999             52
$125,000 to $149,999     48
$150,000 to $174,999     38
$175,000 to $199,999     26
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

## Examine Statistics of 'int_income' Column of Data

In [25]:
data["int_income"].describe()

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

## Findings
As with the age of the respondents, we chose the lower bound of each income bracket and therefore do not have a reliable measure of the true statistics governing the respondents' income.  However, from that lower bound, it appears the average income of respondents is quite high at near $76,000.  The high standard deviation, though, signifies huge fluctuations in the respondents' income about this mean and, thus, a large range of incomes between the minimum and maximum values.

## Filter Out 'int_income' < 150000

In [26]:
int_income_lt_150000 = data[data["int_income"] < 150000]

## Extract Responses to 'How far will you travel for Thanksgiving?' and Display Corresponding Counts

In [27]:
int_income_lt_150000["How far will you travel for Thanksgiving?"].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

## Filter Out 'int_income' > 150000

In [28]:
int_income_gt_150000 = data[data["int_income"] > 150000]

## Extract Responses to 'How far will you travel for Thanksgiving?' and Display Corresponding Counts

In [29]:
int_income_gt_150000["How far will you travel for Thanksgiving?"].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         49
Thanksgiving is local--it will take place in the town I live in                     25
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    16
Thanksgiving is out of town and far away--I have to drive several hours or fly      12
Name: How far will you travel for Thanksgiving?, dtype: int64

## Findings
It appears there is a greater fraction of high-income people (~48%) that has Thanksgiving at home than the corresponding fraction of low-income people (~41%).  Younger people, typically students and those just starting out in the workforce, earn less income and thereby travel for Thanksgiving out of a necessity to save.

## Generate and Display Pivot Table Showing Average Age of Respondents for Responses to 'Have you ever tried to meet up with hometown friends on Thanksgiving night?' and 'Have you ever attended a "Friendsgiving?'

In [62]:
data.pivot_table(
    index="Have you ever tried to meet up with hometown friends on Thanksgiving night?",
    columns='Have you ever attended a "Friendsgiving?"',
    values="int_age"
)

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

## Generate and Display Pivot Table Showing Average Income of Respondents for Responses to 'Have you ever tried to meet up with hometown friends on Thanksgiving night?' and 'Have you ever attended a "Friendsgiving?'

In [63]:
data.pivot_table(
    index="Have you ever tried to meet up with hometown friends on Thanksgiving night?",
    columns='Have you ever attended a "Friendsgiving?"',
    values="int_income"
)

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842

## Findings
Younger people, on average, attend 'Friendsgiving' as well as meet up with hometown friends on Thanksgiving night.  Confirmation of this young age, as established in a previous link between younger age and lower income, is provided by the corresponding average income from the 2nd pivot table.

## Apply Value_Counts Function to Dessert Columns of Data and Assign Result to Dessert_Counts

In [59]:
dessert_cols = [col for col in data.columns if 'dessert' in col]

In [60]:
dessert_counts = data[dessert_cols].apply(pd.Series.value_counts)

## Apply Max Function to Dessert_Counts and Display Result

In [61]:
dessert_counts.apply(pd.Series.max)

Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler               110.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies                     16.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies                    128.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake                  72.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake                  191.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies                     204.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge                        43.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream                   266.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler               103.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - None                        295.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify)      134.0
Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify).1     13.0
dtype: float64

## Findings
The most common dessert people eat at Thanksgiving is ice cream.