# Exploring U.S. Gun Deaths
## Open, Read, and Display First Five Rows of Dataset

In [1]:
import csv

with open("guns.csv") as f:
    data = list( csv.reader(f) )

In [2]:
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [3]:
data[:5]

[['',
  'year',
  'month',
  'intent',
  'police',
  'sex',
  'age',
  'race',
  'hispanic',
  'place',
  'education'],
 ['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

## Extract and Display Header from Dataset

In [4]:
headers = data[:1]

In [5]:
print(headers)

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']]

In [6]:
headers

[['',
  'year',
  'month',
  'intent',
  'police',
  'sex',
  'age',
  'race',
  'hispanic',
  'place',
  'education']]

## Remove Header from Dataset and Display First Five Rows to Confirm Removal

In [7]:
data = data[1:]

In [8]:
print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [9]:
data[:5]

[['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'],
 ['5',
  '2012',
  '02',
  'Suicide',
  '0',
  'M',
  '31',
  'White',
  '100',
  'Other specified',
  '2']]

## Extract 'year' Column from Dataset

In [10]:
years = [row[1] for row in data]

## Create and Display Dictionary for Number of Gun Deaths in Each Year

In [11]:
year_counts = {}

In [12]:
for year in years:
    if year not in year_counts:
        year_counts[year] = 0
    year_counts[year] += 1

In [13]:
year_counts

{'2012': 33563, '2013': 33636, '2014': 33599}

## Create datetime.datetime Object for Each Row of Dataset and Display First Five Rows

In [14]:
import datetime

In [15]:
dates = [datetime.datetime( year=int(row[1]), month=int(row[2]), day=1 ) for row in data]

In [16]:
dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

## Create and Display Dictionary for Number of Unique Dates

In [17]:
date_counts = dict()

In [18]:
for date in dates:
    if date not in date_counts:
        date_counts[date] = 0
    date_counts[date] += 1

In [19]:
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

## Create and Display Dictionaries for Number of Gun Deaths in Each Gender and Race

In [20]:
gender_counts = {}

In [21]:
for row in data:
    if row[5] not in gender_counts:
        gender_counts[row[5]] = 0
    gender_counts[row[5]] += 1

In [22]:
race_counts = {}

In [23]:
for row in data:
    if row[7] not in race_counts:
        race_counts[row[7]] = 0
    race_counts[row[7]] += 1

In [24]:
gender_counts

{'F': 14449, 'M': 86349}

In [25]:
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

## Open, Read, and Display 2nd Dataset on Census

In [26]:
with open("census.csv") as f:
    census = list( csv.reader(f) )

In [27]:
print(census)

[['Id', 'Year', 'Id', 'Sex', 'Id', 'Hispanic Origin', 'Id', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races'], ['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

In [28]:
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

## Manually Create Mapping Dictionary from Dataset

In [29]:
mapping = {
    'Asian/Pacific Islander':15834141,
    'Black':40250635,
    'Native American/Native Alaskan':3739506,
    'Hispanic':44618105,
    'White':197318956
}

## Create and Display Dictionary for Number of Gun Deaths per 100,000 People in Each Race

In [30]:
race_per_hundredk = {}

In [31]:
for key, value in race_counts.items():
    race_per_hundredk[key] = ( value / mapping[key] ) * 100000

race_per_hundredk

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

## Extract 'intent' and 'race' Columns from Dataset

In [32]:
intents = [row[3] for row in data]

In [33]:
races = [row[7] for row in data]

## Create and Display Dictionary for Number of Gun Deaths by Homicide in Each Race

In [34]:
homicide_race_counts = dict()

In [35]:
for i, race in enumerate(races):
    if intents[i] == 'Homicide':
        if race not in homicide_race_counts:
            homicide_race_counts[race] = 0
        homicide_race_counts[race] += 1

In [36]:
homicide_race_counts

{'Asian/Pacific Islander': 559,
 'Black': 19510,
 'Hispanic': 5634,
 'Native American/Native Alaskan': 326,
 'White': 9147}

## Change Dictionary to Number of Gun Deaths by Homicide per 100,000 People in Each Race and Display

In [37]:
for key, value in homicide_race_counts.items():
    homicide_race_counts[key] = ( value / mapping[key] ) * 100000

In [38]:
homicide_race_counts

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

## Create and Display Dictionary for Number of Accidental Gun Deaths per 100,000 People in Each Race

In [39]:
accidental_race_counts = dict()

for i, race in enumerate(races):
    if intents[i] == 'Accidental':
        if race not in accidental_race_counts:
            accidental_race_counts[race] = 0
        accidental_race_counts[race] += 1

for key, value in accidental_race_counts.items():
    accidental_race_counts[key] = ( value / mapping[key] ) * 100000 

accidental_race_counts

{'Asian/Pacific Islander': 0.07578560782046845,
 'Black': 0.814893976206835,
 'Hispanic': 0.3249801846133985,
 'Native American/Native Alaskan': 0.5883130017708221,
 'White': 0.5736904466492313}

## Extract 'month' Column from Dataset

In [40]:
months = [row[2] for row in data]

## Create and Display Dictionary for Number of Gun Deaths in Each Month

In [41]:
month_counts = {}

for month in months:
    if month not in month_counts:
        month_counts[month] = 0
    month_counts[month] += 1

month_counts

{'01': 8273,
 '02': 7093,
 '03': 8289,
 '04': 8455,
 '05': 8669,
 '06': 8677,
 '07': 8989,
 '08': 8783,
 '09': 8508,
 '10': 8406,
 '11': 8243,
 '12': 8413}

## Extract 'place' Column from Dataset

In [42]:
places = [row[9] for row in data]

## Create and Display Dictionary for Number of Gun Deaths in Each Location

In [43]:
place_counts = {}

for place in places:
    if place not in place_counts:
        place_counts[place] = 0
    place_counts[place] += 1

place_counts

{'Farm': 470,
 'Home': 60486,
 'Industrial/construction': 248,
 'NA': 1384,
 'Other specified': 13751,
 'Other unspecified': 8867,
 'Residential institution': 203,
 'School/instiution': 671,
 'Sports': 128,
 'Street': 11151,
 'Trade/service area': 3439}

## Extract 'education' Column from Dataset

In [44]:
educations = [row[10] for row in data]

## Create and Display Dictionary for Number of Gun Deaths in Each Educational Status

In [45]:
education_counts = {}

for education in educations:
    if education not in education_counts:
        education_counts[education] = 0
    education_counts[education] += 1

education_counts

{'1': 21823, '2': 42927, '3': 21680, '4': 12946, '5': 1369, 'NA': 53}

# Findings So Far
1.  almost 6 times as many male gun deaths than female 
2.  gun death rate highest for 'Black' but 'White' also significant
3.  gun death rate by homicide skewed toward 'Black'
4.  accidental gun death rates low and comparable across races
5.  gun deaths rise early in year to peak in July and then dip again in winter
6.  most gun deaths occur at home and many victims have less than high school education, only high school education, or some college education