# Exploring U.S. Births
## Open, Read, and Display Dataset

In [1]:
f = open("US_births_1994-2003_CDC_NCHS.csv")

In [2]:
text = f.read()

In [ ]:
print(text)

In [ ]:
text

## Convert to List of Lists and Display First 10 Rows

In [5]:
g = text.split("\n")

In [6]:
g[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

## Create Function that Reads In CSV File and Converts to List of Integer Lists

In [7]:
def read_csv(csv_file):
    f = open(csv_file)
    f_list = f.read().split("\n")
    f_list_no_header = f_list[1:]
    final_list = []
    
    for f_string in f_list_no_header:
        int_fields = []
        string_fields = f_string.split(",")
        
        for s_string in string_fields:
            int_fields.append( int(s_string) )
            
        final_list.append(int_fields)
        
    return final_list

## Run Function and Display First 10 Rows of Output

In [8]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [9]:
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

## Create Function that Calculates Number of Month Births

In [10]:
def month_births(list_of_lists):
    births_per_month = dict()
    
    for list in list_of_lists:
        month = int(list[1])
        
        if month in births_per_month:
            births_per_month[month] += int(list[4])
        else:
            births_per_month[month] = int(list[4])
            
    return births_per_month

## Run Function and Display Output

In [11]:
cdc_month_births = month_births(cdc_list)

In [12]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

## Create Function that Calculates Number of Day Births

In [13]:
def dow_births(list_of_lists):
    births_per_day = dict()
    
    for list in list_of_lists:
        day = int(list[3])
        
        if day in births_per_day:
            births_per_day[day] += int(list[4])
        else:
            births_per_day[day] = int(list[4])
            
    return births_per_day

## Run Function and Display Output

In [14]:
cdc_day_births = dow_births(cdc_list)

In [15]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

## Generalize Above Functions for Year or Month or Date or Day

In [16]:
def calc_counts(list_of_lists,column):
    births_per_column = dict()
    
    for list in list_of_lists:
        column_time = int(list[column])
        
        if column_time in births_per_column:
            births_per_column[column_time] += int(list[4])
        else:
            births_per_column[column_time] = int(list[4])
            
    return births_per_column

## Check Function Against Above Results for Month and Day Counts

In [17]:
calc_counts(cdc_list,1)

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [18]:
calc_counts(cdc_list,3)

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

## Run Function for Year and Date

In [19]:
calc_counts(cdc_list,0)

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [20]:
calc_counts(cdc_list,2)

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

## Create Function that Calculates Dictionary Min and Max Values

In [21]:
def min_max_dict(dict):
    max_value = 0
    
    for key in dict:
        if dict[key] > max_value:
            max_value = dict[key]
            
    min_value = max_value
    
    for key in dict: 
        if dict[key] < min_value:
            min_value = dict[key]
            
    return min_value,max_value

## Run Function and Display Output

In [22]:
cdc_day_births_min_max = min_max_dict(cdc_day_births)

In [23]:
cdc_day_births_min_max

(4079723, 6446196)

## Create Function that Calculates Birth-Number Differences Between Successive Years for Chosen Month or Date or Day

In [25]:
def year_birth_changes(list_of_lists,column_number,specific_time):
    year = list_of_lists[0][0] # "year" is earliest year in dataset
    year_to_year = []
    specific_time_births = 0
    previous_year = 0
    
    for list in list_of_lists:
        if list[0] == year: # sum births for particular month/day/date of year
            if list[column_number] == specific_time:
                specific_time_births += list[4]
        else:
            year_to_year.append(specific_time_births - previous_year) # append difference between consecutive years
            year = list[0] # new "year" is next earliest year in dataset
            previous_year = specific_time_births # previous_year is sum from previous year
            specific_time_births = 0 # reset this value
            
            if list[column_number] == specific_time: # check value for first list of new year
                specific_time_births += list[4]
            
    year_to_year.append(specific_time_births - previous_year) # append last difference between final two years of dataset

    return year_to_year[1:] # first element is not a difference

## Run Function and Display Output for Fridays

In [26]:
cdc_year_fri_birth_changes = year_birth_changes(cdc_list,3,5)

In [27]:
cdc_year_fri_birth_changes

[-3231, -3527, -2609, 3128, 16202, 13053, 2723, -1553, 5752]

## Run Function and Display Output for March

In [28]:
cdc_year_mar_birth_changes = year_birth_changes(cdc_list,3,3)

In [30]:
cdc_year_mar_birth_changes

[-5580, -4618, 12316, 5342, 6835, 14622, -4852, -2851, 27260]